In [6]:
import sqlite3
import pandas as pd
connection = sqlite3.connect('data.db')
cursor = connection.cursor()

In [7]:
cursor.execute("""
CREATE TABLE PRODUCT (
    ID INTEGER PRIMARY KEY,
    NAME TEXT NOT NULL,
    PRICE INTEGER NOT NULL
);
""")

In [8]:
cursor.execute("""
INSERT INTO PRODUCT (ID, NAME, PRICE)
VALUES
    (1, 'iPhone 15', 18000000),
    (2, 'Galaxy Z-Fold 5', 30000000);
""")
data = pd.read_sql_query("SELECT * FROM PRODUCT", connection)
print(data)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  30000000

In [9]:
cursor.execute('''
UPDATE PRODUCT
SET PRICE = 50000000
WHERE 1=1
AND NAME = 'Galaxy Z-Fold 5';
''')
data = pd.read_sql_query("SELECT * FROM PRODUCT", connection)
print(data)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  50000000

In [10]:
cursor.execute('''
DELETE FROM PRODUCT
WHERE 1=1
AND NAME = 'iPhone 15';
''')
data = pd.read_sql_query("SELECT * FROM PRODUCT", connection)
print(data)

   ID             NAME     PRICE
0   2  Galaxy Z-Fold 5  50000000