In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.db')
cursor = conn.cursor()

In [2]:
query = '''
CREATE TABLE STOCK (
    ID INTEGER PRIMARY KEY,
    NAME TEXT NOT NULL,
    BUY INTEGER NOT NULL,
    INVESTOR TEXT NOT NULL
);'''
cursor.execute(query)

In [3]:
query = '''
INSERT INTO STOCK (ID, NAME, BUY, INVESTOR)
VALUES
    (1, 'ACB', 29.45, 'Nguyen'),
    (2, 'VIC', 44.55, 'Nguyen'),
    (3, 'GMD', 74.30, 'Nguyen'),
    (4, 'ACB', 28.45, 'Vinh'),
    (5, 'VIC', 40.55, 'Vinh'),
    (6, 'GMD', 60.30, 'Vinh');
'''
cursor.execute(query)
conn.commit()
data = pd.read_sql_query('SELECT * FROM STOCK', conn)
print(data)

   ID NAME    BUY INVESTOR
0   1  ACB  29.45   Nguyen
1   2  VIC  44.55   Nguyen
2   3  GMD  74.30   Nguyen
3   4  ACB  28.45     Vinh
4   5  VIC  40.55     Vinh
5   6  GMD  60.30     Vinh

In [4]:
query = '''
SELECT SUM(BUY) AS TOTAL_BUY
FROM STOCK;
'''
data = pd.read_sql_query(query, conn)
print(data)

   TOTAL_BUY
0      277.6